
* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

html	{
	scroll-behavior: smooth;
}

#external {
	color: yellow;
}

h1 {
	font-size: 50px;
}

#follow {
	text-transform: uppercase;
}

.languages  {
	background-color: #9ab973;
}

a [id="tools"] {
	border-width: 2px;
	border-style: solid;
	border-color: #6a8ec5;
}

#image {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

img + ul {
	list-style-type: none;
}

ul ~ p {
	text-align: center;
}

body > ul > li {
	letter-spacing: 10px;
}